.home_switch{
    /*border: #1b1e21 1px solid;*/
    height: 8%;
    padding: 3%;
}
.home_airplane{
    /*border: #1b1e21 1px solid;*/
    height: 8%;
    position: relative;
}
.home_airplane_japan{
    /*border: #1b1e21 1px solid;*/
    position: absolute;
    left: 5%;
    height: 98%;
}
.home_airplane_img{
    /*border: #1b1e21 1px solid;*/
    position: absolute;
    left: 50%;
    height: 98%;
}
.home_airplane_country{
    /*border: #1b1e21 1px solid;*/
    position: absolute;
    right: 5%;
    height: 98%;
}
.airplane_img{
    /*border: #1b1e21 1px solid;*/
    height: 100%;
}
.home_airplane_img img{
    transform: rotate(90deg);
}

.home_img{
    /*border: #1b1e21 1px solid;*/
    height: 40%;
}
.home_img_class{
    /*border: #1b1e21 1px solid;*/
    width: fit-content;
    margin: 3% auto;
    height: 100%;
}
#home_img{
    height: 100%;
    margin-top: auto;
}
.home_money{
    /*border: #1b1e21 1px solid;*/
    height: 18%;
}
.home_money_txts{
    /*border: #1b1e21 1px solid;*/
    width: fit-content;
    margin: auto;
    padding:4%;
}
#home_money_txt_s{
    color: var(--mygray);
    font-size: 100%;
}
#home_money_txt_l{
    color: black;
    font-size: 450%;
    font-weight: bolder;
    margin-top: -10%;
}


/*留学行きトグル*/
.btn-to-01 {
    background: var(--myblue);
    color: white;
    border: 1px solid var(--myblue);
    font-size: 100%;
    border-radius: 20px;
    padding: 0.5% 2%;
    height: 100%;
}

.btn-to-01:hover, .btn-to-01:focus,
.btn-to-01:active, .btn-to-01:active:focus, .btn-to-01:active:hover, .btn-to-01:active.focus,
.btn-to-01.active, .btn-to-01.active:focus, .btn-to-01.active:hover, .btn-to-01.active.focus,
.open > .dropdown-toggle.btn-to-01,
.open > .dropdown-toggle.btn-to-01:hover,
.open > .dropdown-toggle.btn-to-01:focus,
.open > .dropdown-toggle.btn-to-01.focus,
.btn-to-01.disabled:hover, .btn-to-01[disabled]:hover, fieldset[disabled] .btn-to-01:hover,
.btn-to-01.disabled:focus, .btn-to-01[disabled]:focus, fieldset[disabled] .btn-to-01:focus,
.btn-to-01.disabled.focus, .btn-to-01[disabled].focus, fieldset[disabled] .btn-to-01.focus {
    background: var(--myblue);
    color: white;
}

.btn-to-01.outline {
    color: #fff;
    background-color: var(--myblue);
    border-color: var(--myblack);
}

/*講座行きトグル*/
.btn-to-02 {
    background: var(--myred);
    color: white;
    border: 1px solid var(--myred);
    font-size: 100%;
    border-radius: 20px;
    padding: 0.5% 2%;
    height: 100%;
}

.btn-to-02:hover, .btn-to-02:focus,
.btn-to-02:active, .btn-to-02:active:focus, .btn-to-02:active:hover, .btn-to-02:active.focus,
.btn-to-02.active, .btn-to-02.active:focus, .btn-to-02.active:hover, .btn-to-02.active.focus,
.open > .dropdown-toggle.btn-to-02,
.open > .dropdown-toggle.btn-to-02:hover,
.open > .dropdown-toggle.btn-to-02:focus,
.open > .dropdown-toggle.btn-to-02.focus,
.btn-to-02.disabled:hover, .btn-to-02[disabled]:hover, fieldset[disabled] .btn-to-02:hover,
.btn-to-02.disabled:focus, .btn-to-02[disabled]:focus, fieldset[disabled] .btn-to-02:focus,
.btn-to-02.disabled.focus, .btn-to-02[disabled].focus, fieldset[disabled] .btn-to-02.focus {
    background: var(--myred);
    color: white;
}

.btn-to-02.outline {
    color: #fff;
    background-color: #F68847;
    border-color: var(--myblack);
}

/*G04-01*/
.home_calender{
    /*border: #a71d2a 1px solid;*/
    height:46%;
    width: 90%;
    margin: auto;
    padding: 7% 0;
    font-size: 130%;
}
.home_list{
    /*border: #2D9CDB 1px solid;*/
    height: 20%;
}
.home_list_txt{
    border: 1px solid var(--mygray);
    border-radius: 10px;
    height: 90%;
    width: 90%;

    background-color: white;
    color:var(--myblack);
    line-height: 30%;

    margin: auto;
    padding: 5% 4%;

    /*すクロ〜〜〜ル〜〜*/
    overflow:auto;
}
/*カレンダー*/

table {
    width: 100%;
}
table th {
    background: var(--myyellow);
}
table td{
    background: white;
    height: 200%;
}
table th,
table td {
    border: 1px solid var(--mypailgray);
    text-align: center;
    padding: 5px;
}
.table_lesson{
    font-size: 50%;
    margin-bottom: 0;
}
.submit_button{
    display       : inline-block;
    border-radius : 3%;          /* 角丸       */
    font-size     : 100%;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 0px 4px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #ffffff;    /* 枠の指定 */
}
.submit_button:hover {
    color         : #ffffff;     /* 背景色     */
    background    : #000000;     /* 文字色     */
}
.submit_button.sub1{
    font-size: 9pt;
}